@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'S-Core Dream 5';
}

/* all */
.inner {
    width: 1440px;
    margin: 0 auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

/* header */
header {
    height: 90px;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
}
header .inner {
    display: flex;
    justify-content: space-between;
}
header h1 {
    width: 40px;
    line-height: 90px;
}
header img {
    width: 100%;
    object-fit: cover;
}
header .nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}
header .nav p {
    margin-left: 70px;
    position: relative;
}
header .nav p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
header .nav p:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* main_visual */
.main_visual {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.main_visual .main_title {
    margin-top: 316px;
}
.main_visual .main_title strong {
    font-size: 30px;
}
.main_visual .main_title h4 {
    font-size: 100px;
    font-family: 'PermanentMarker1';
    line-height: 1.4;
    position: relative;
    /* filter: drop-shadow(0 1px 5px #000); */
}
.main_visual .main_title h4::after {
    content: '';
    display: block;
    width: 625px;
    height: 44px;
    background-color: #4f74ff;
    position: absolute;
    top: 96px;
    left: 0;
    z-index: -9;
}
.main_visual .main_title h4:nth-of-type(2)::after {
    width: 505px;
}
.main_visual .scroll_wrap {
    position: absolute;
    top: 80px;
}
.main_visual .scroll {
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    color: #313131;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: -99;
    display: flex;
    transform-origin: left top;
}
.main_visual .scroll:nth-of-type(2){
    top: 450px;
}
.main_visual .scroll div {
    font-size: 400px;
    white-space: nowrap;
    animation: animate1 120s linear infinite;
}
.main_visual .scroll div:nth-child(2) {
    animation: animate2 120s linear infinite;
    animation-delay: -60s;
}
@keyframes animate1 {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}
@keyframes animate2 {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-200%);}
}

/* .cont01 */
.cont01 .inner {
    margin-top: 180px;
    display: flex;
}
.cont01 .pro_title h4 {
    font-family: 'Permanent Marker1';
    font-size: 50px;
    margin-bottom: 38px;
}
.cont01 .pro_title strong {
    font-size: 40px;
    margin-bottom: 16px;
    display: block;
}
.cont01 .pro_title p {
    font-size: 26px;
}
.cont01 .pro_info {
    margin-left: 165px;
}
.cont01 .pro_info .info {
    display: flex;
    margin-bottom: 110px;
}
.cont01 .pro_info .info .ma {
    margin-left: 140px;
}
.cont01 .pro_info .info strong {
    font-size: 30px;
    color: #4f74ff;
    margin-bottom: 20px;
    display: block;
}
.cont01 .pro_info .info .data_wrap {
    display: flex;
}
.cont01 .pro_info .info .data {
    font-size: 20px;
    font-family: 'S-Core Dream 3';
    line-height: 40px;
}
.cont01 .pro_info .info .data p span {
    width: 122px;
    display: inline-block;
}
.cont01 .pro_info .info .data p img {
    display: inline-block;
    margin-right: 14px;
}
.cont01 .pro_info .info .data_icon p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cont01 .pro_info .info .data_icon:nth-of-type(2) {
    margin-left: 80px;
}
.cont01 .pro_info .info .ex_data {
    font-size: 20px;
    font-family: 'S-Core Dream 3';
    line-height: 40px;
}
.cont01 .pro_info .info .ex_data p span {
    width: 280px;
    display: inline-block;
}


/* .cont02 영상편집 */
.cont02 {
    padding: 170px 0;
}
.cont02 .inner {
    text-align: center;
}
.cont02 .title {
    text-align: center;
}
.title h3 {
    font-family: 'Permanent Marker1';
    font-size: 50px;
}
.title p {
    font-size: 26px;
    margin: 38px;
}
.cont02 .motion_menu {
    display: inline-block;
}
.cont02 .motion_menu ul {
    display: flex;
    align-items: center;
    margin-bottom: 88px;
    background-color: #1a1a1a;
    height: 60px;
    border: 1px solid #fff;
}
.cont02 .motion_menu ul li {
    padding: 0 48px;
    font-size: 20px;
}
.cont02 .motion_menu ul li.on {
    background-color: #4f74ff;
    color: #fff;
    height: 100%;
    line-height: 60px;
}
.cont02 .mySwiper {
    display: none;
}
.cont02 .mySwiper.on {
    display: block;
}
.cont02 .mySwiper .item {
    display: flex;
    justify-content: space-between;
}
.cont02 .mySwiper .item .pc_youtube {
    width: 55%;
    position: relative;
}
.cont02 .mySwiper .item .pc_youtube img {
    height: auto;
}
.cont02 .mySwiper .item .pc_youtube .youtube {
    position: absolute;
    top: 23px;
    left: 26px;
    width: 94%;
}
.cont02 .mySwiper .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.cont02 .mySwiper .item .pc_youtube .youtube > div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.cont02 .mySwiper .item .info {
    width: 45%;
    text-align: left;
    margin: 40px;
}
.cont02 .mySwiper .item .info > strong {
    margin-bottom: 20px;
    display: block;
}
.cont02 .mySwiper .item .info h4 {
    font-size: 34px;
}
.cont02 .mySwiper .item .info p {
    font-size: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 1.4;
}
.cont02 .mySwiper .item .info .text {
    margin: 20px 0 30px;
}
.cont02 .mySwiper .item .info .text li {
    line-height: 1.6;
}
.cont02 .mySwiper .item .info .btn {
    display: flex;
}
.cont02 .mySwiper .item .info .btn li {
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    background-color: #1a1a1a;
    color: #333;
    border: 1px solid #ccc;
}
.cont02 .mySwiper .item .info .btn li:hover {
    background-color: #4f74ff;
    border: 1px solid #4f74ff;
    color: #fff;
}
.cont02 .mySwiper .item .info .btn li a {
    padding: 0 44px;
}

/* .cont03 웹디자인 */
.cont03 {
    padding: 170px 0 420px;
    overflow: hidden;
}
.cont03 .title {
    text-align: center;
}
.cont03 .title p {
    margin-bottom: 150px;
}
.cont03 .web01 {
    position: relative;
}
.cont03 .web01 .web_info::before {
    content: '01';
    font-family: 'Permanent Marker1';
    font-size: 202px;
    color: #273362;
    position: absolute;
    left: -110px;
    top: -118px;
    z-index: -99;
}
.cont03 .web_info h3 {
    font-size: 34px;
    margin: 23px 0 60px;
}
.cont03 .web_info > p {
    font-family: 'S-Core Dream 3';
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 60px;
}
.cont03 .web_info .web_data {
    font-size: 20px;
}
.cont03 .web_info .web_data p {
    font-family: 'S-Core Dream 3';
    margin-bottom: 26px;
}
.cont03 .web_info .web_data p:nth-of-type(3) {
    margin-bottom: 86px;
}
.cont03 .web_info .web_data p span {
    font-family: 'S-Core Dream 5';
    width: 122px;
    color: #4f74ff;
    display: inline-block;
}
.cont03 .web01 .web_info .btn {
    display: flex;
}
.cont03 .web01 .web_info .btn li {
    border: 1px solid #fff;
    margin-right: 28px;
    height: 60px;
    line-height: 60px;
}
.cont03 .web01 .web_info .btn li a {
    display: block;
    padding: 0 44px;
}
.cont03 .web01 .web_info .btn li:hover {
    background-color: #4f74ff;
    border: 1px solid #4f74ff;
}
.cont03 .web01 img {
    position: absolute;
    top: -146px;
    left: 538px;
}
.cont03 .web02 {
    position: relative;
    padding: 590px 0 0 830px;
}
.cont03 .web02 img {
    position: absolute;
    top: 240px;
    left: -690px;
    z-index: -99;
}
.cont03 .web02 .web_info {
    position: relative;
}
.cont03 .web02 .web_info::before {
    content: '02';
    font-family: 'Permanent Marker1';
    font-size: 202px;
    color: #273362;
    position: absolute;
    left: -130px;
    top: -118px;
    z-index: -99;
}
.cont03 .web02 .web_info .btn {
    display: flex;
}
.cont03 .web02 .web_info .btn li {
    border: 1px solid #fff;
    margin-right: 28px;
    height: 60px;
    line-height: 60px;
}
.cont03 .web02 .web_info .btn li a {
    display: block;
    padding: 0 44px;
}
.cont03 .web02 .web_info .btn li:hover {
    background-color: #4f74ff;
    border: 1px solid #4f74ff;
}

/* .cont04 그래픽디자인 */
.cont04 {
    margin-bottom: 170px;
}
.cont04 .title {
    margin: 200px 0 140px;
    text-align: center;
}
.cont04 .list {
    display: flex;
    justify-content: space-between;
}
.cont04 .list a {
    cursor: url('../img/click.png'), auto;
    width: 344px;
    position: relative;
}
.cont04 .list a img {
    width: 100%;
    object-fit: cover;
}
.cont04 .list .ma {
    margin-top: 50px;
}
.cont04 .list a .click {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 340px;
    height: 539px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
}
.cont04 .list a .click div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}
.cont04 .list a .click div strong {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: 'Permanent Marker1';
    display: inline-block;
}
.cont04 .list a .click div p {
    text-align: center;
    font-size: 20px;
    color: #4f74ff;
    font-family: 'Permanent Marker1';
}
.cont04 .list a:hover .click {
    display: block;
}

/* footer */
footer .inner {
    text-align: center;
    padding-top: 170px;
    margin-bottom: 100px;
}
footer h3 {
    font-family: 'Permanent Marker1';
    font-size: 100px;
    position: relative;
    margin-bottom: 100px;
}
footer h3::after {
    content: 'Thank you!';
    font-family: 'Permanent Marker1';
    font-size: 100px;
    position: absolute;
    color: #4f74ff;
    top: calc(50% + 6px);
    left: calc(50% + 6px);
    transform: translate(-50%, -50%);
    z-index: -99;
}
footer .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
}
footer .btn li {
    border: 1px solid #fff;
    margin-right: 28px;
    height: 60px;
    line-height: 60px;
}
footer .btn li a {
    display: block;
    padding: 0 44px;
    height: 100%;
}
footer .btn li:hover {
    background-color: #4f74ff;
    border: 1px solid #4f74ff;
}
footer p {
    font-size: 14px;
    line-height: 20px;
}
footer p:nth-of-type(1) {
    margin-bottom: 24px;
}