@charset "utf-8";

/* 에스코어 드림 */
@font-face {
    font-family: 'S-Core Dream 3';
    src: url('S-CoreDream/S-CoreDream-3Light.eot');
    src: url('S-CoreDream/S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream/S-CoreDream-3Light.woff2') format('woff2'),
        url('S-CoreDream/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'S-Core Dream 5';
    src: url('S-CoreDream/S-CoreDream-5Medium.eot');
    src: url('S-CoreDream/S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
        url('S-CoreDream/S-CoreDream-5Medium.woff2') format('woff2'),
        url('S-CoreDream/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* G마켓 산스 */
@font-face {
    font-family: 'Gmarket Sans TTF';
    src: url('GmarketSans/GmarketSansTTFBold.eot');
    src: url('GmarketSans/GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
        url('GmarketSans/GmarketSansTTFBold.woff2') format('woff2'),
        url('GmarketSans/GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Permanent Marker */
@font-face {
    font-family: 'PermanentMarker1';
    src: url('Permanent_Marker/permanentPermanentMarker-Regular.eot');
    src: url('Permanent_Marker/PermanentMarker-Regular.eot?#iefix') format('embedded-opentype'),
        url('Permanent_Marker/PermanentMarker-Regular.woff2') format('woff2'),
        url('Permanent_Marker/PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
